@font-face {
  font-family: 'OpenSansRegular';
  font-weight: medium;
  src: local('Open Sans Regular'),
       url('./style/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSansLight';
  font-weight: medium;
  src: local('Open Sans Light'),
       url('./style/fonts/OpenSans-Light.ttf') format('truetype');
}
