// sharable utils - variables, functions, mixins, etc

// colors
$color-white: white;
$color-black: black;
$color-darkgray: #4A4A4A;
$color-lightgray: #EEEEEE;
$color-gray: #9B9B9B;
$color-green: #6EE2AF;

// dimensions
$gutter-small: 12px;
$gutter-large: 32px;

// font stacks
$fontStack-Default: OpenSansRegular, sans-serif;
$fontStack-Light: OpenSansLight, sans-serif;

// media queries
$media-middle: 'min-width:768px';
