// sharable utils - variables, functions, mixins, etc

// colors
$color-white: white;
$color-black: black;
$color-gray: rgba(0, 0, 0, 0.5);
$color-green: #6EE2AF;

// dimensions
$gutter-small: 12px;
$gutter-large: 32px;

// font stacks
$fontStack-Default: OpenSansRegular, sans-serif;
$fontStack-Light: OpenSansLight, sans-serif;

// media queries
$media-middle: 'min-width:768px';
