@import './style/_util.scss';

.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__main__icon {
  margin: $gutter-small $gutter-small $gutter-small 0;
}

.contact__main__link:hover {
  text-shadow: 2px 2px 4px $color-gray;
}
