.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px; }

.footer__nav__link:not(:first-of-type) {
  margin-left: 12px; }

.footer__nav__link {
  padding: 3px; }

.footer__nav__link:hover {
  background-color: #6EE2AF;
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease; }

.footer__links__link {
  margin: 12px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease; }

.footer__links__link:hover {
  color: #6EE2AF;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); }
