.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.skills__title {
  margin-left: 12px; }

@media (min-width: 768px) {
  .skills__sections {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 32px; } }

.skills__section__tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .skills__section__tech {
      align-items: flex-end;
      text-align: right; } }

.skills__section__additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .skills__section__additional {
      text-align: left;
      align-items: flex-start; } }

.skills__tech__icon, .skills__add__icon {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
