@import './style/_util.scss';

.work {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__prof__list {
  display: flex;
  justify-content: center;
  margin: $gutter-small;
}

.work__prof__logo {
  height: 40px;
}

.work__pers {
  @media ($media-middle) {
    width: 60%;
  }
}

.work__pers__list {
  @media ($media-middle) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: $gutter-small;
  }
}

.work__pers__img {
  width: 300px;
  margin: 15px;
  @media ($media-middle) {
    width: 300px;
    padding-top: 10px;
  }
}

.work__pers__text {
  @media ($media-middle) {
    font-size: 12px;
  }
}
