.work {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.work__section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.work__prof__list {
  display: flex;
  justify-content: center;
  margin: 12px; }

.work__prof__logo {
  height: 40px; }

@media (min-width: 768px) {
  .work__pers {
    width: 60%; } }

@media (min-width: 768px) {
  .work__pers__list {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 12px; } }

.work__pers__img {
  width: 300px;
  margin-top: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
  @media (min-width: 768px) {
    .work__pers__img {
      width: 300px; } }

@media (min-width: 768px) {
  .work__pers__text {
    font-size: 12px; } }

.work__pers__link {
  text-decoration: underline; }

.work__pers__link:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); }
